.user-row{
    background-image: url('https://cdn.prod.website-files.com/5fbd61596e034630dd2b86af/61f8fd17b71e0f2c8befbf3d_how-banks-can-use-the-whatsapp-banking-api.jpg');
    /* width:100vw;
    height:100vh; */
    width:100vw;
    height:100vh;
    /* padding: 20px; */
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    display: flex;
    justify-content: flex-end; /* Aligns the form to the right */
    align-items: center;
}

.userform-container{
  background-color:teal;
  /* margin-top:90px; */
  margin-left:1000px;
  /* margin-right:50px; */
  width: 550px; 
  height: 550px;
  padding: 20px; /* Padding for some space inside the container */
  margin-bottom:10px;
  border-radius: 10px;/* Rounded corners */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Shadow for a nicer look */
 justify-content: center;
}

.heading{
    text-align: center;
    font-size: 2.1em; 
    margin-bottom: 10px; 
    margin-top: 0px;
    font-style: italic;
    background-color:darkgreen;
    width:300px;
    height:50px;
    margin-left: 100px;
    margin-top:20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    color: rgb(1, 1, 12);
    margin-bottom:15px;
}


.userform-label {
  font-weight: bold;
  font: size 1.1em ;
  display: block;
  margin-bottom: 5px;
  border-radius: 10px;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  margin-top:0px;
}

.text-row{
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
  width: 400px;
  height: 28px;
  margin-left:25px;
  margin-top:0px;
}


  .form-container input[type='email']:focus {
    border-color:darkgreen;
    outline: none;
    box-shadow: 0 0 5px rgba(71, 117, 167, 0.5);
  }

  .btn-primary {
    margin: 0 10px; /* Space between buttons */
    padding: 10px 20px; /* Padding inside the buttons */
    background-color: rgb(0, 100, 0,0.9) !important; /* Button background color */
    border: none; /* No border */
    color: rgb(14, 1, 1) !important; /* Button text color */
    font-size: 1em; /* Font size of the button text */
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; 
    margin-top: 50px;
    margin-left: 140px;
    width:150px;
    height:50px;
    font-size:1.3em;
    font-weight: bold;
  }

  .user-signup-link{
    margin-top: 10px;
    margin-left: 90px;
    font-size:1.3em;
    color: rgb(14, 12, 12); 
    display: flex;
    margin-bottom:10px;
   /* justify-content: center;  */
  }

  .user-signup-link:hover{
    color:aqua;
  }
  .admin-login-link{
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom:20px;
    font-size:1.3em;
    color:black;
    display: flex;
    
  }

.admin-login-link:hover{
  color:burlywood
}
.error-login-message {
  color: rgb(190, 13, 13);
  font-size: 22px;
  margin-top: -2px; /* Adjust margin to keep form balanced */
  margin-bottom: 10px;
  margin-left:70px;
}